---
---

$link-padding-x: 16px;
$link-padding-y: 8px;
$light-purple: rgb(179, 119, 228);
$middle-purple: rgba(111, 0, 201, 1);
$dark-purple: rgba(43, 0, 78, 1);

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  flex: none;
  width: 100%;
  min-height: 100px;
  background-image:
    url("/assets/img/lisa-flip.png"),
    linear-gradient(to top right, $light-purple, $dark-purple);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

footer {
  flex: 0 0 auto;
  height: 50px;
}

main {
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

nav {
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside {
  position: sticky;
  z-index: 0;
  top: 100px;
  padding: 1em;
  flex: 0 0 auto;
  width: auto;
}

article {
  padding-left: 16px;
  background-color: #fff;
  flex: 1 1 auto;
  z-index: 10;
  min-width: 300px;
  max-width: 800px;
  overflow: scroll;
}

a {
  display: inline-block;
  padding: $link-padding-y $link-padding-x;
  background: #fff;
  color: black;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition:
    background 0.2s,
    color 0.2s;
}

a:hover,
a.active {
  background: $dark-purple;
  color: #fff;
}

.person {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.person img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.person div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.person div div {
  padding: $link-padding-y $link-padding-x;
}
