---
---

$IGNORE-FRONTMATTER-ERROR: 0;

$very-light-theme: rgb(245, 235, 255);
$light-theme: rgb(179, 119, 228);
$dark-theme: rgba(43, 0, 78, 1);
$header-height: 100px;
$footer-height: 30px;
$tiny-gap: 8px;
$small-gap: 16px;
$large-gap: 32px;
$huge-gap: 64px;
$main-gap: $large-gap;
$aside-width: 300px;
$main-width: 600px;
$width-threshold: $aside-width + $main-width + $main-gap * 3;

@mixin box {
  cursor: pointer;
  padding: $small-gap;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background: $very-light-theme;
  box-shadow: 0 2px 8px rgba(43, 0, 78, 0.07);
  transition: filter 1s;
  &:hover {
    filter: brightness(0.85);
  }
}

@mixin link {
  padding: $tiny-gap $small-gap;
  cursor: pointer;
  background: #fff;
  color: black;
  border-radius: 999px;
  text-decoration: none;
  transition:
    background 0.3s,
    color 0.3s;
  &:hover {
    background: $dark-theme;
    color: #fff;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-image:
    url("/assets/img/lisa-flip.png"),
    linear-gradient(to top right, $light-theme, $dark-theme);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  padding-left: $small-gap;
  height: $footer-height;
  background-image: linear-gradient(to top right, $light-theme, $dark-theme);
  display: flex;
  align-items: center;
}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

aside {
  display: flex;
  flex-direction: column;
  gap: $small-gap;
}

aside a {
  @include box;
}

main {
  display: flex;
  flex-direction: column;
  gap: $large-gap;
}

@media (max-width: #{ $width-threshold - 1px }) {
  html {
    overflow: auto;
  }
  header {
    min-height: $header-height;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: $large-gap;
  }
  aside {
    padding-left: $small-gap;
    padding-right: $small-gap;
  }
  main {
    padding-left: $small-gap;
    padding-right: $small-gap;
  }
}

@media (min-width: $width-threshold) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
  header {
    height: $header-height;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  aside {
    width: $aside-width;
    position: fixed;
    left: $main-gap;
    top: $header-height + $main-gap;
    overflow: scroll;
  }
  main {
    width: $main-width;
    position: relative;
    padding-bottom: $footer-height + $main-gap;
    left: $aside-width + $main-gap * 2;
    top: $header-height + $main-gap;
  }
  footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
  }
}

////////////
// Navbar //
////////////

nav {
  margin-right: $huge-gap;
  display: flex;
  gap: $large-gap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

nav a {
  @include link;
}

////////////
// People //
////////////

.person {
  @include box;
  display: flex;
  flex-direction: row;
  gap: $small-gap;
  align-items: center;
}

.person img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.person div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

////////////////
// Consortium //
////////////////

.consort {
  @include box;
  display: flex;
  flex-direction: row;
  gap: $small-gap;
  align-items: flex-start;
}

.consort img {
  width: 100px;
  height: auto;
}

////////////////////
// Advisory Board //
////////////////////

.company {
  @include box;
  display: flex;
  flex-direction: row;
  gap: $small-gap;
  align-items: center;
}

.company img {
  width: 100px;
  height: auto;
}
