nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.2em;
}

nav a {
  display: inline-block;
  padding: 0.4em 1.2em;
  background: #e6f0fa;
  color: #003366;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  transition:
    background 0.2s,
    color 0.2s;
}

nav a:hover,
nav a.active {
  background: #003366;
  color: #fff;
}

header {
  width: 100vw;
  height: 100px;
  background-image:
    url("/assets/img/lisa-flip.png"),
    linear-gradient(to top right, rgb(179, 119, 228), rgba(43, 0, 78, 1));
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}
