---
---

$light-purple: rgb(179, 119, 228);
$middle-purple: rgba(111, 0, 201, 1);
$dark-purple: rgba(43, 0, 78, 1);

@mixin box {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background: #fafaff;
  box-shadow: 0 2px 8px rgba(43, 0, 78, 0.07);
  padding: 16px 24px;
}

@mixin link-padding {
  padding: 8px 16px;
}

@mixin clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

@mixin link {
  @include link-padding;
  background: #fff;
  color: black;
  border-radius: 999px;
  text-decoration: none;
  transition:
    background 0.2s,
    color 0.2s;
  // &.active {
  //   background: $dark-purple;
  //   color: #fff;
  // }
}

html {
  width: 100%;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  flex: none;
  width: 100%;
  min-height: 100px;
  background-image:
    url("/assets/img/lisa-flip.png"),
    linear-gradient(to top right, $light-purple, $dark-purple);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
}

footer {
  flex: 0 0 auto;
  height: 50px;
}

main {
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

nav {
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside {
  position: sticky;
  z-index: 0;
  top: 100px;
  padding: 1em;
  flex: 0 0 auto;
  width: auto;
}

article {
  padding-left: 16px;
  background-color: #fff;
  flex: 1 1 auto;
  z-index: 10;
  min-width: 300px;
  max-width: 600px;
  overflow: scroll;
}

a {
  @include link-padding;
  display: inline-block;
  background: #fff;
  color: black;
  border-radius: 999px;
  text-decoration: none;
}

a:hover,
a.active {
  background: $dark-purple;
  color: #fff;
}

////////////
// Poeple //
////////////

.person {
  @include box;
  @include clickable;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

.person img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.person div div {
  padding: 2px;
}

////////////////
// Consortium //
////////////////

.consortium {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
}

.consortium a {
  @include box;
  @include clickable;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: top;
}

.consortium a img {
  height: 100px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}

.consortium a p {
  margin: 0;
}
